<head>
    {% load staticfiles %}
</head>

<title>my workshop website</title>

<head>
    <title>Bootstrap Case</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Webber</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>


            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Join<span
                    class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'register_user' %}">sign up</a></li>
                    <li><a href="#">sign in</a></li>
                </ul>
            </li>

            <ul class="nav navbar-nav navbar-nav navbar- nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Help</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </ul>
    </div>
</nav>


<div class="container">
</div>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"
      integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}"
      integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<script type="text/javascript" src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
</head>

<body style="background-color:lightgrey">
<div class="row"/>
<div class="col-md-6 col-md-offset-3"/>
<div class="panel panel-primary"/>
<div class="panel-heading"><b>Sign In</b></div>
<div class="panel-body"/>


<legend>Registration</legend>
<table>

    <div>
        <tr>
            <th id="1"><label for="name">name</label></th>
            <td><input type="text" name="a"/></td>
        </tr>
    </div>
    <tr>
        <div>
            <th id="2"><label for="add">Old Email-address(if any)</label></th>
            <td><input type="text" name="b"/></td>
        </div>
    </tr>
    </div>
    <div>
        <tr>
            <th id="2"><label for="add">new-Email id</label></th>
            <td><input type="text" name="c"/></td>
        </tr>
    </div>
    <div>
        <tr>
            <th id="2"><label for="add">Password</label></th>
            <td><input type="text" name="c"/></td>
        </tr>
    </div>
    <div>
        <tr>
            <th><label for="n">gender</label></th>
            <td><input type="radio" id="y" value="yes" name="option"/>
                <label for="y">male</label>
                <input type="radio" id="n" value="no" name="option"/>
                <label for="y">female</label></td>
        </tr>

        <tr>
            <th id=4">feedback on this site</th>
            <td><textarea rows="4" cols="30"></textarea></td>
        </tr>
        <tr>
        <tr>
            <td><input type="submit" value="submit"></td>
            <td><input type="reset" value="reset"></td>
        </tr>
    </div>


</table>
</body>
